

<div class="row">
    <div class="col-md-3">

        <p-panel header="Projects">
            <button pButton type="button" (click)="count()" label="Add new project">
            </button>
        </p-panel>
    </div>
    <div class="col-md-9">
        <p-panel header="Time Entries">
            <div class="row">
                <div class="col-md-6">
                    <button pButton type="button" (click)="count()" label="Add new time entry">
                    </button>
                </div>
                <div class="col-md-6">
                    <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                    <span style="margin-left:35px">{{date3|date}}</span>
                </div>
            </div>
        </p-panel>

    </div>
</div>
